.kypseli{
    background-color: wheat;
}
body{
    background-color: #FAEFDB;
    /* background-image: url('bgBeelist.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;  */
}