.kypseli{
    background-color: wheat;
}
body{
    background-color: #FAEFDB;
   
}
svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    
}
.fw-700{
    font-weight: 700;
}
.bgWheat{
    background-color: wheat;
}
.bglight{
    background-color: #FAEFDB;
}
.activityIcons{
    top: 2px;
    right: 0px;
}
.beehiveNumberSpan{
    top: 0px;
    left:0px;
    font-size: 22px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
    
}
.grayfilter{
    filter: opacity(0.2);
}
.errorLightbg{
    background-color: #ff9999;
}
.errorbg{
    background-color: #ff4f4f;
}
.beehivesListUL {
    justify-content: space-evenly;
}
.starRatingFill, .starRatingEmpty {
    font-size: 10px;
    display: contents;
}
.starsRating{
    gap: 4px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    color: #FFB428;
}
.bgRatingStars{
    background-color: #985F35;
}
.fs-16{
    font-size: 16px;
}
.fs-13{
    font-size: 13px;
}
.justify-content-space-around{
    justify-content: space-around;
}


.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bottomMenu{
    background: #f1d09363;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  



  .animated-element {
    background: linear-gradient(
      100deg,
      wheat 80%,
      rgb(251, 237, 211) 90%,
      rgb(242, 224, 191) 80%
    ) #ededed;
    background-size: 200% 100%;
    background-position-x: 180%; /* Set default starting point */
    
    filter: grayscale(60%) ;
  }
  
  .animate{
    animation: 0.8s loading ease-in-out infinite;
   
  }
  .loaderUl{
    justify-content: space-evenly;
  }
  
@keyframes loading {
  from {
    background-position-x: 180%; 
    
  }
  to {
    background-position-x: -20%;
    
  }
  
  
}
.kypseli{
    animation: scaleAndRotate linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes scaleAndRotate {
  0% {
   opacity: 0;
   transform: scale(0.5) ;
    
  }
  50% {
   
    transform: scale(0.8) ;
  }
  100% {
    opacity: 1;
    transform: scale(1) ;
    
  }
  

 
  


}

  